body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  background-color: yellow;
  color: red;
}
h2{
  background-color: yellow;
  color: red;
}
h3{
  background-color: yellow;
  color: red;
  text-align: center;
  padding: 50px;
}
p{
color: blue;
}
.p2{
  display: flex;
  justify-content: center;
}
ol{
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
li{
  text-align: center;
  color: blue;
}
img{
  width: 300px;/*ancho*/
  height: 300px;/*alto*/
  object-fit: cover;/*para ocultar todo elemento fuera del contenedor*/
  
}
nav{
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.nav-list{
color: green; 
display:flex;
justify-content: space-around;
width: 80%;
list-style: none;
cursor: pointer;
}
div{
  background-color: orange;
}
button{
  border: solid 5px;
  text-align: center;
  width: 60px;
  background-color:black;
  color: yellow;
}
input{
  border: solid red;
  width: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
